---
layout: splash
permalink: /
breadcrumbs: false
header:
  overlay_color: "#50c878"
  overlay_image: /assets/static/cover.jpg
  cta_label: '<i class="fas fa-book"></i> Start Reading'
  cta_url: /recent/
  caption: '&copy;<a href="https://dribbble.com/ni" target="_blank" rel="noopener">by Nina Geometrieva</a>'
excerpt: "When ashes fall, legends rise."

feature_row:
  - image_path: /assets/static/dev.jpg
    alt: "Development"
    url: "/dev/"
    btn_class: "btn--primary"
    btn_label: "Explore my views on Software Development, tools and practices"
    image_caption: "&copy;"
  - image_path: /assets/static/hardware.jpg
    alt: "My Works"
    url: "/work/"
    btn_class: "btn--primary"
    btn_label: "Explore my ongoing and completed projects"
    image_caption: "&copy;" 
  - image_path: /assets/static/random.jpg
    alt: "Repos"
    url: "/repos/"
    btn_class: "btn--primary"
    btn_label: "Explore repos I've created and contributed to"
    image_caption: "&copy;"
  - image_path: /assets/static/dev.jpg
    alt: "Gists"
    url: "/gists/"
    btn_class: "btn--primary"
    btn_label: "Explore my valuable snippets and gists"
    image_caption: "&copy;"
  - image_path: /assets/static/hardware.jpg
    alt: "Hardware"
    url: "/hardware/"
    btn_class: "btn--primary"
    btn_label: "Explore my reviews on Hardware, gadgets and theming"
    image_caption: "&copy;" 
  - image_path: /assets/static/random.jpg
    alt: "Random"
    url: "/random/"
    btn_class: "btn--primary"
    btn_label: "Explore my musings on life, universe and everything else"
    image_caption: "&copy;"    
intro:
  - excerpt: 'The first article of my journal is out now. Keep reading to explore more, and encourage me to write and post more frequently.'
  
---
<style>
    .page__hero--overlay {
    padding: 12em 0 4em 0;
    }
    .archive__item-body p{
    text-align: center;
    padding-top: 1em;
    }
    .archive__item-caption{
        font-size: .425em;
    }
</style>
{% include feature_row id="intro" type="center" %}

{% include feature_row %}
